<%= form_with(model: feed, class: "contents") do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation" class="alert alert-error mt-3">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
        <% feed.errors.each do |error| %>
          <% if error.attribute == :url %>
            <li><%= error.attribute.upcase %> <%= error.message %></li>
          <% else %>
            <li><%= error.full_message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless feed.new_record? %>
    <div class="my-5">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-field" %>
    </div>

    <div class="my-5">
      <%= form.label :subtitle, class: 'capitalize' %>
      <%= form.text_field :subtitle, class: "form-field" %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :url, class: 'uppercase' %>
    <%= form.text_field :url, class: "form-field", disabled: feed.persisted? %>
  </div>

  <div class="inline">
    <%= form.submit feed.new_record? ? "Submit" : "Update", class: "button primary" %>
  </div>
<% end %>
