<div class="mx-auto sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-2/5 w-full">
  <h1 class="page-header">Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-5">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="my-5">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-field" %>
      <% if @minimum_password_length %>
        <em class="mt-1 inline-block text-sm"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="my-5">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field" %>
    </div>

    <div class="my-5">
      <%= f.label :current_password %> <i>(needed to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "button primary" %>
    </div>
  <% end %>

  <h3 class="font-bold text-xl mt-12 mb-3">Cancel my account</h3>

  <div>
    <span>Unhappy with Reedr?</span>
    <div class="inline-block">
      <%= button_to "Cancel my account",
          registration_path(resource_name),
          data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
          method: :delete,
          class: "button danger inverted ml-2" %>
    </div>
  </div>

  <div class="flex justify-end">
    <%= link_to "Back", :back, class: "button link" %>
  </div>
</div>
