<!DOCTYPE html>
<html>
<head>
  <title>Reedr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-zinc-100 dark:bg-gray-900">
<main class="container mx-auto mt-5 px-5">
  <div class="p-6">
    <div class="mb-8 flex justify-between">
      <div class="text-3xl font-bold">
        <a href="/" class="text-primary-700 dark:text-primary-400 -skew-y-12 block">Reedr</a>
      </div>

      <div class="flex items-center gap-3">
        <form method="post" action="/?/signout">
          <%# TODO: conditionally render properly once auth is setup %>
          <% if true %>
            <button class="button">
              <%= svg("sign_in", class: "w-6 h-6 mr-1") %>
              <span>Sign In</span>
            </button>
          <% else %>
            <button class="button">
              <%= svg("sign_in", class: "w-6 h-6 mr-1") %>
              <span>Sign Out</span>
            </button>
          <% end %>
        </form>
      </div>
    </div>

    <%= yield %>
  </div>

  <footer class="p-6 text-center text-xs text-gray-500">Powered by ☕️ and 🍕</footer>
</main>
</body>
</html>
